h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: italic;
}

nav a {
  padding: .5em;
  text-align: center;
  background: #666;
  color: #fff;
  text-decoration: none;
}
nav a.active {
  background: #888;
}

header h1 {
  padding: 0;
  margin: 0;
  text-align: center;
}

section {
  padding: 1em;
}

header {
  background: #666;
  color: #fff;
}

.card {
  display: none;
}
.card.active {
  display: block;
}
